
body{
 font: 18px arial, sans-serif;
 background: #eee
}

.image-container {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-size: cover;
    float: right;
}

#searches {
width: 70%;
}

.sport-button {
    color:rgb(255, 145, 0);
}

.search-item {
    float: left;
    padding:10px;
}

form {
width: 30%;
float: right;
padding: 20px;
}

label {
display: block;
font-weight: 700;  /* bolding  */
margin-bottom:18px;
}

input [type="text"] {
    width:100px;
    margin-bottom:10px;
    height:30px;
    font-size:10px;
}

button,
input [type="submit"] {
    background: 659A98;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    margin: 0 10px 18px 0;
    cursor: pointer;
    transition: box-shadow 1s;
}

button,
input:hover {
    box-shadow: 2px 2px 3px red; 
    transition: box-shadow 1s; 
}

